<form id="KoCTlbIJlb" action="/api/Achievments" method="post"> 
    <input name="UserName" value="@User.Identity.Name" hidden/>
    <input name="FirstAchieveName" value="Купить одну игру" hidden />
    <input name="FirstAchieveProgress" value="0" hidden />

    <input name="SecondAchieveName" value="Купить шутер" hidden />
    <input name="SecondAchieveProgress" value="0" hidden />

    <input name="ThirdAchieveName" value="Купить гонку" hidden />
    <input name="ThirdAchieveProgress" value="0" hidden />

    <input name="FourthAchieveName" value="Купить десять" hidden />
    <input name="FourthAchieveProgress" value="0" hidden />

    <input name="FifthAchieveName" value="Купить сто игр" hidden />
    <input name="FifthAchieveProgress" value="0" hidden />

</form>
<script>
    $("#KoCTlbIJlb").submit();
</script>