<div id="pageTitle">Админка</div>

<div class="myBtn" onclick="location.href='@Url.Action("AddItem", "AdminMenu")'">Добавить товар</div>
<div class="myBtn" onclick="location.href='@Url.Action("AddCodes", "AdminMenu")'">Добавить ключей</div>
